{{define "frontPage"}}
<!DOCTYPE HTML>

<head>
    <title> GoVote </title>
    <link rel="stylesheet" type="text/css" href="/public/css/main_min.css" />
</head>


<body>

    {{template "navbar" .}}

    <div class="main-container">
        <h1 class="card-title">Latest polls</h1>
        <div class="poll-container">
            {{range .Polls}}
            <div class="poll">
                <a class="poll-title" href="/poll/{{.ID}}">{{.Title}}</a>
                <p class="poll-details">
                    Votes: {{.NumOfVotes}}, Submitted by <a href="/u/{{.Author}}">{{.Author}}</a>, {{.Time}} ago
                </p>
            </div>
            {{end}}
        </div>
        <!-- pagination-->
    </div>

</body>


</html>
{{end}}