{{define "navbar"}}
<div class="navbar">
    <a class="navbar-title" href="/">GoVote</a>
    <div class="navbar-spacer"></div>
    {{if .LoggedInUser.LoggedIn}}
    <a class="navbar-btn" href="/u/{{.LoggedInUser.Username}}">{{.LoggedInUser.Username}}</a>
    <a class="navbar-btn" href="/new/">New Poll</a>
    <a class="navbar-btn" href="/logout/">Log Out</a>
    <!-- -->
    {{else}}
    <a class="navbar-btn" href="/register/"> Register </a>
    <a class="navbar-btn" href="/login/"> Log in </a>
    <!-- -->
    {{end}}
</div>

<!-- navbar for mobile -->
<div class="navbar-mobile">
    <a class="navbar-title" href="/">GoVote</a>
    <div class="navbar-spacer"></div>
    {{if .LoggedInUser.LoggedIn}}
    <a class="navbar-btn" href="/u/{{.LoggedInUser.Username}}">{{.LoggedInUser.Username}}</a>
    <!-- -->
    {{end}}
</div>
<div class="navbar-mobile-secondary">
    {{if .LoggedInUser.LoggedIn}}
    <a class="navbar-btn" href="/new/">New Poll</a>
    <div class="navbar-spacer"></div>
    <a class="navbar-btn" href="/logout/">Log Out</a>
    <!-- -->
    {{else}}
    <a class="navbar-btn" href="/register/"> Register </a>
    <a class="navbar-btn" href="/login/"> Log in </a>
    <!-- -->
    {{end}}
</div>


{{end}}