{{define "users"}}
<!DOCTYPE HTML>

<head>
    <title>{{.Username}}</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}

    <div class="main-container">
        <h1 class="card-title">{{.Username}}</h1>
        <h2> User polls </h2>
        <div class="poll-container">
            {{range .Polls}}
            <div class="poll">
                <a class="poll-title" href="/poll/{{.ID}}">{{.Title}}</a>
                <p class="poll-details">
                    Votes: {{.NumOfVotes}}, Submitted {{.Time}} ago
                </p>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>
{{end}}