<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" type="text/css" href="/public/main.css" />
    <title> File metadata microservice </title>
</head>

<body>

    <div class="container">
        <div class="card-container">
            <h2> File Metadata Microservice</h2>
            <p class="info"> Submit file to display it's size in bytes </p>
            <form enctype="multipart/form-data" method="POST">
                <input type="file" name="upload-file"> <br/>
                <button type="submit" class="submit-btn"> Submit file </button>
            </form>
        </div>
    </div>

</body>

</html>