* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", "Arial", sans-serif; }

a {
  color: #2D2AE4; }

body {
  background: #ECECEC;
  color: #313131; }

h1, h2, h3, h4, h5, h6 {
  color: #313131;
  font-family: "Fira Sans", "Arial", sans-serif; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: 0px 2px 5px #D3D3D3;
  box-shadow: 0px 2px 5px #D3D3D3; }

.navbar-title {
  font-size: 22px;
  padding: 0 20px;
  color: #313131;
  text-decoration: none; }

.navbar-spacer {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.navbar-btn {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: #313131;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px; }

.navbar-btn:hover {
  color: #2D2AE4; }

.navbar-mobile, .navbar-mobile-secondary {
  display: none; }

.main-container {
  max-width: 100%;
  width: 900px;
  margin-top: 50px;
  border: 1px solid #dce0e0;
  background: #fafafa;
  margin: 50px auto;
  min-height: 400px;
  padding: 40px 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

.votes-container {
  max-width: 100%;
  width: 750px;
  border: 1px solid #dce0e0;
  margin: 0 auto;
  padding: 20px; }

.poll-managing button {
  margin-right: 5px; }

.poll {
  padding: 20px 0;
  border-bottom: 1px dashed #8a8a8a; }
  .poll .poll-title {
    font-size: 18px;
    display: block;
    text-decoration: none;
    margin-bottom: 3px;
    color: #2D2AE4; }
  .poll .poll-title:hover {
    text-decoration: underline; }
  .poll .poll-details {
    color: #313131;
    font-size: 12px; }
    .poll .poll-details a {
      color: #313131; }

.poll-container .poll:nth-last-child(1) {
  border-bottom: none; }

.vertical-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 500px;
  max-width: 100%;
  margin: 30px auto; }

.vote-option {
  margin: 5px 0; }

.card-signup {
  background: #fafafa;
  border: 1px solid #dce0e0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 100%;
  padding: 40px 40px;
  margin: 40px auto; }

.card-title {
  display: block;
  text-align: center;
  margin-bottom: 40px; }

.vertical-fields {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 220px; }

.vertical-fields input {
  width: 100%; }

.new-post {
  width: 500px; }

.new-post-title {
  margin-bottom: 40px; }

#vote-options input {
  margin-bottom: 20px; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #313131;
  border: 1px solid #c2c0c2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 2px 5px;
  width: 100%; }

input[type="text"], input[type="password"], input[type="email"] {
  height: 30px; }

input[type="text"]:focus, input[type="password"]:focus,
input[type="email"]:focus, textarea:focus {
  border: 1px solid #8a8a8a;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }

label {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #313131; }

input[type="text"].error, input[type="password"].error, input[type="email"].error, textarea.error {
  border: 1px solid #CF1F1F; }

input[type="text"]:focus.error, input[type="password"]:focus.error,
input[type="email"]:focus.error, textarea:focus.error {
  -webkit-box-shadow: 2px 2px 10px rgba(207, 31, 31, 0.3);
  box-shadow: 2px 2px 10px rgba(207, 31, 31, 0.3); }

.poll-results {
  margin-top: 80px; }

/*  UTILITIES */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  width: 100%; }

.centered-text {
  text-align: center; }

.margin-b-10 {
  margin-bottom: 10px; }

.margin-b-20 {
  margin-bottom: 20px; }

.margin-t-10 {
  margin-top: 10px; }

.margin-t-20 {
  margin-top: 20px; }

.margin-t-40 {
  margin-top: 40px; }

.error-message {
  color: #CF1F1F;
  font-size: 14px; }

button {
  height: 30px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #c2c0c2;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px; }

button:hover {
  border: 1px solid #8a8a8a; }

.btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #c2c0c2;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #313131; }

.btn:hover {
  border: 1px solid #8a8a8a; }

.btn-default {
  background-color: #eff3f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfc), color-stop(90%, #eff3f6));
  background-image: -webkit-linear-gradient(top, #fafbfc 0%, #eff3f6 90%);
  background-image: -o-linear-gradient(top, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%); }

.btn-submit {
  margin-top: 30px;
  background-color: #3f51b5;
  color: #fafafa;
  border: none;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }

.btn-submit:hover {
  background-color: #303f9f;
  border: none;
  cursor: pointer; }

.btn-small {
  height: 25px; }

.vote-option input[type="radio"] {
  display: none; }

.vote-option label {
  position: relative;
  width: 100%;
  cursor: pointer;
  padding-left: 40px; }

.vote-option span::before,
.vote-option span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0; }

.vote-option span.radio:hover {
  cursor: pointer; }

.vote-option span.radio::before {
  top: 1px;
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #313131; }

.vote-option span.radio::after {
  border-radius: 50%;
  top: 5px;
  left: 24px;
  width: 6px;
  height: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #fafafa; }

.vote-option:hover span.radio::after {
  background-color: #c2c0c2; }

.vote-option input[type="radio"]:checked + label span.radio::after {
  background-color: #313131; }

@media screen and (max-width: 500px) {
  .main-container {
    padding: 40px 15px; }
  .poll-results {
    margin-top: 40px; }
  .navbar {
    display: none; }
  .navbar-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background: #fafafa;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 40px;
    -webkit-box-shadow: 0px 2px 5px #D3D3D3;
    box-shadow: 0px 2px 5px #D3D3D3; }
  .navbar-mobile-secondary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    -webkit-box-shadow: 0px 2px 5px #D3D3D3;
    box-shadow: 0px 2px 5px #D3D3D3;
    margin-top: 10px; } }
